:root {

/* COLORES PRINCIPALES*/ 

--color-cream: #FFF6E8;
--color-beige:#E6DBCB;
--color-green-dark: #33411E;
--color-green-light: #808847;
--color-brown: #745936;
--color-brown-dark: #3A2519;

/* COLORES ACENTOS*/ 
--color-terracota: #B55D3E;
--color-blue: #347481;

/* FONTS */

--font-title-xl: 400 clamp(3rem, 5vw, 5.5rem) "DM Serif Display", serif;
--font-title-lg: 400 clamp(2rem, 4vw, 3.5rem) "DM Serif Display", serif;
--font-title-md: 400 clamp(1.25rem, 2vw, 1.5rem) "DM Serif Display", serif;
--font-title-sm: 500 0.9rem "Plus Jakarta Sans", sans-serif;

--font-highlight: 600 0.9rem "Plus Jakarta Sans", sans-serif;
--font-small-title: 700 1rem "Plus Jakarta Sans", sans-serif;

--font-body: 400 1rem "Plus Jakarta Sans", sans-serif;
--font-body-small: 400 0.875rem "Plus Jakarta Sans", sans-serif;

/* SPACING */

--spacing-xxxl:10rem;
--spacing-xxl:8rem;
--spacing-xl:6rem;
--spacing-lg:5rem;
--spacing-md:3rem;
--spacing-sm:2rem;
--spacing-xs:1rem;
--spacing-xxs:0.7rem;

/* RADIUS */
--radius-sm:16px;
--radius-full:100px;    
    
/* SIZE */

--size-icon-md: 1.5rem;

--size-max-width:90rem;
--size-min-width:20rem;

--size-min-width-sm: 13.125rem;



}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
   background-color: var(--color-cream);
    color: var(--color-brown-dark);
    font: var(--font-body);
}

img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border-radius: var(--radius-sm);
}

a {
    text-decoration: none;
    color: inherit;
    font: var(--font-body-small);
}

ul, ol {
    list-style: none;
}

h1, .title-xl {
   font: var(--font-title-xl); 
}

h2, .title-lg {
    font: var(--font-title-lg);
}

h3, .title-md {
    font: var(--font-title-md);
}

h4, .title-sm {
    text-transform: uppercase;
    font: var(--font-title-sm);

}

.title-small {
    font: var(--font-small-title);

}
.font-btn {
    text-transform: uppercase;
    font: var(--font-highlight);
}

.font-body {
    font: var(--font-body);
}



.block {
    max-width: var(--size-max-width);
    margin: 0 auto;
    width: 100%;
}

.section {
    padding: var(--spacing-xxxl) var(--spacing-md);
    max-width: var(--size-max-width);
    margin: 0 auto;

}

.btn {
    display: inline-block;
    padding: var(--spacing-xxs) var(--spacing-md);
    border-radius: var(--radius-full);
    text-align: center;
    font: var(--font-highlight);

    &.btn--border {
        background-color: transparent;
        border: 1px solid var(--color-cream);

        &:hover {
            background-color: var(--color-cream);
            color: var(--color-green-dark);
        }

    }

    &.btn--green {
        background-color: var(--color-green-dark);
        color: var(--color-cream);

        &:hover {
            background-color: var(--color-green-light);
        }
    }

    &.btn--white {
        background-color: var(--color-cream);
        color: var(--color-green-dark);

        &:hover {
            background-color: var(--color-green-dark);
            color: var(--color-cream);
        }
    }
}

.btn--small {
    padding-bottom: .5rem;
    align-self: start;
    border-bottom: 1px solid  var(--color-green-dark);
    color: var(--color-green-dark);
    font: var(--font-small-title);
    transition: transform 0.3s ease-out;
    
    &:hover {
        transform: scale(1.05);
    }
}



/* HEADER */

.header {
    position: fixed;
    inset: 0; /*top,right,bottom,left*/
    padding: var(--spacing-xs);

    width: 100%;
    z-index: 10;

    color: var(--color-cream);
    height: fit-content;
}


.header__block {
    
    width: 100%;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.logo {
    max-width: var(--spacing-xxxl);
    justify-self: center;

    &img{
        border-radius: none;
    }
    
}

.header__button {
    
    justify-self: end;
}

/* /HEADER */

/* SECCIÓN HERO */


.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__video {
    
    position: absolute;
    inset: 0; /*top,right,bottom,left*/

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
}

.hero__block {
    position: relative;
    z-index: 2;

    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.hero__content {

    width: 100%;
    max-width: 50rem;
    padding: var(--spacing-sm);
    color: var(--color-cream);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.hero__opacity {
    position: absolute;
    inset: 0;

    background-color: rgb(0 0 0 / 30%);
    z-index: 1;
}

/* /SECCIÓN HERO */


/* SECCION INTRODUCTION */

.intro__block {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
      
}

.intro__content {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxxl);
    flex-wrap: wrap;    
    
}
.intro__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex: 1 1 var(--size-min-width);    

    & h4 {
       color: var(--color-green-light); 
    }

    & h2 {
        color: var(--color-green-dark);
    }


}

.intro__img {
    flex: 1 1 var(--size-min-width);

    & img {
        display: block;
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

/* /SECCION INTRODUCTION */

/* SECCION ADVENTURES */

.adventures {
    
    background-color: var(--color-beige);
}



.adventures__block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

}
.adventures__head {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;

    & h4 {
       color: var(--color-green-light); 
    }

    & h2 {
        color: var(--color-green-dark);
    }

}
.adventures__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-min-width-sm), 1fr));
    gap: var(--spacing-md);

}

.adventures__item {
    position: relative;
    overflow: hidden;
    
}

.adventures__video {
    display: flex;
    flex-direction: column;
    height: 70vh;
    object-fit: cover;

    max-width: 100%;
    width: 100%;
    border-radius: var(--radius-sm);

}

.adventures__video-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--color-cream);
}


/* /SECCION ADVENTURES */
